<a href="https://colab.research.google.com/github/Hongchen030/ims/blob/master/homework_1(Hong).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1#
Given the list of numbers: `12, 34, 45, 67, 88, 99, 56, 23`, find the sum of all the even numbers in the list.

#Q2#
Write a program to remove all duplicates from the list
`[1, 2, 2, 3, 4, 4, 5]`

#Q3#
Given two lists,
```
list1 = [1, 2, 3, 4, 3, 5]
list2 = [3, 4, 5, 6, 7, 4]
```
write a program to find the unique common elements between them.

#Q4#
Given the list of strings,

`["apple", "banana", "cherry", "date", "fig"]`,

create a new list containing only the strings with more than 4 characters using list comprehensio

#Q5#
Write a function to reverse a list without using the reverse method.

#Q6#
Create a matrix (a list of lists) and write a program to find the sum of all the elements in the matrix.

#Q7#
Given the list of numbers,

`[12, 34, 45, 67, 88, 99, 56, 23]`

write codes to find the second largest and second smallest elements.

#Q8#

Write a function that computes the cumulative sum of a list (each element is the sum of all elements before it).

#Q9#
Based on the dictionary below,

```
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
```
1. Make a dictionary of all prices over 200

2. Make a dictionary of tech stocks based on the following list.
`tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']`

#Q10#

Given the string,

`string = "Hello, World!"`

count the number of vowels `(a, e, i, o, u)` in it.

#Q11#

Given the string,

`"Hello, World !"`

remove all whitespace characters from it.

#Q12#

Given the string,

`"This is a sample sentence with long words"`

find the longest word in it.

#Q13#

Write code to round `123456` to tens place

#Q14#

Write a function that checks if a given number is even or odd and returns a corresponding message.

#Q15#

Create a function that takes a **list** of numbers as input and returns the average of those numbers.

#Q16#

Write a function that takes **a variable number** of arguments and returns their sum.

#Q17#

Create a lambda function that takes two numbers as input and returns their product.

#Q18#

Write a function that accepts a **dictionary** of student names and their corresponding scores. Calculate the average score, round it to the second digits after decimal points, and return it.

Example input:

`student_scores = {"Alice": 90, "Brain": 82, "David": 88}`

#Q19#

Write a function `count_char_occurrences` that takes a string and a character as arguments and counts the number of times the character appears in the string.

Example imput:

```
text = "Hello, World!"
char = 'l'
count = count_char_occurrences(text, char)
```

#Q20#

Create a function that takes a function and a list of numbers as arguments and applies the function to each number in the list.

Example:
```
def apply_function_to_list(func, numbers):
    # you code here

numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function_to_list(lambda x: x**2, numbers)
print("Squared numbers:", squared_numbers)

```

#Q21#

Write a program that calculates the factorial of a given non-negative integer that is less than 15 using a **while** loop.

#Q22#

Create a program that takes a list of numbers and performs the following operations:

+ Find the maximum number in the list.
+ Find the minimum number in the list.
+ Calculate the sum of all numbers in the list.
+ Calculate the average of the numbers in the list.

Example list

`[12, 34, 75, 14, 23, 809]`

#Q23#

Create a program that extracts a sublist from a given list based on user input for start and end indices.

Example input
```
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

start_index = 2
end_index = 5
```

#Q24#

Write a program that demonstrates basic set operations such as union, intersection, and difference.